# Auto-detect text files, ensure they use LF.
* text=auto eol=lf

# Ignore these files in GitHub dists and `git archive` actions.
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/phpunit.xml export-ignore
/.php_cs export-ignore
/tests export-ignore
