.idea/
vendor/
.phpunit.result.cache
.php-cs-fixer.cache
# The Api reference is auto generated and should not be part of the repository
/Documentation-GENERATED-temp
sphpdox.phar
_Output/
Documentation/.doctrees
var/
/release/
/tools/**/composer.lock
/tools/**/vendor/
