# Auto-detect text files, ensure they use LF.
* text=auto eol=lf

# Ignore these files in GitHub dists and `git archive` actions.
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php_cs.dist export-ignore
/box.json.dist export-ignore
/Documentation export-ignore
/phpunit.xml.dist export-ignore
/README.md export-ignore
/Tests export-ignore
