language: php

php:
  - 5.5
  - 5.6
  - 7

sudo: false
cache:
  directories:
    - $HOME/.composer/cache

addons:
  apt:
    packages:
      - parallel

notifications:
  slack:
    secure: N2BzbmdyPm5PdIA8/m/wD/i90sUryPAUTmlPs7tSanKDyhoFC1K4wMCec696UEmW4fqmT6orCNSL1aP0pROli2BOhcvhHqH0YN9cTQaM+tjw3mAtSUE2b1Z2nfBOwZev1yXVufbauoG/lYGXtl7Bb1K9NMNiJcMY/6v3AMkVFIYsW76CPRXHqwsG6QiTDfmkNFUl3gUO1vBZ+Pv5Tq0QBDKNNpH5CSFd41AoFY/CNDYIXBeBpzExnpk2jJ2njzJnhsL172R6eFb0mO4BmfFy9sozS7lBuhG3fwscVcrNapreG6SpK0LE7g39PVMT0+r5Wx83U7moz4poorDQV61lS2eR3SeKTUP2aou54HjDQRkKce5dWhdqcGG6unTTsh3SIeH6BtRql3LzrIXlcIfGHus7gR8kpjALOWNoNBHqly7IxVL/gdsblWehFyy6jE6jKgPuzzE3VOWwyAYA+xGKwWTngJ1REduEdlO7dTxPC5LjHxKTUo2VBcCDhAAJWu6OT8FVsSvwYqI+PxB38Tf9e8Sf8PksPOGlbzgMaZ0hpDXtFrKD1X32HmeLXZmiSwNea4Ws6DeGuvzcTfXwZ0nPX8J6Mpn6lHe/ASueMgJxh2xnk5I5rvQh8PuoIgN5r+IqIxK/2wX8B2PuQ2rp8C77dATerVpuGzoMzvj9V4wNVhw=

before_install:
  - phpenv config-rm xdebug.ini
  - composer self-update
  - composer --version
  - if [ "$GITHUB_COMPOSER_AUTH" ]; then composer config -g github-oauth.github.com $GITHUB_COMPOSER_AUTH; fi

before_script:
  - composer install

script:
  - >
    echo;
    echo "Running unit tests";
    vendor/bin/phpunit Tests/Unit/
  - >
    echo;
    echo "Running php lint";
    find . -name \*.php ! -path "./vendor/*" | parallel --gnu php -d display_errors=stderr -l {} > /dev/null \;
