language: php

sudo: false
cache:
  directories:
    - $HOME/.composer/cache

addons:
  apt:
    packages:
      - parallel

notifications:
  slack:
    secure: PTNdRPBJpEn37XIkuWW3qYOls00FQf6XiGhi+D7+lm920pQMdk4jSVTkFtZpetLUmaB6fIC8wZp/tgJF8q1TrqbRdb+6xYaZTG8wDF3AZ/1UKWQtm8x5+VKHK/FOYW/K8gxbV4rtz3jKokZpA0iCJW5gA6v2NdkjWeNJghk9MNz/sJh6FFXbrbZMKj3jTTk1pmpuDKRxfKwsD7HQXqLad+qRRye6d0dFhfRE4MlrpcaceDRy2Ev1SDGi4eKUOlXLvkTkPpqHemcElEUXF8ITXoAhwddzG0Msq9ee482F8lMkVXGwejozkGAUw4sClTHEaa1sZ+pvrlQKQmvlmoFmrFmmpRY6jPBvq+GykuoTGvjmGNkv1D3d1279+Ff1U87WgETYinHLnDZc10ApeHpJRvofvqL/esPjdXKm0XpEhLu/iLqAD0YL1DSbTgYIQZJLbId/KVUEpdzaEOWZRf0PSlrk+mDFEhiGNsgVGnhFzBUEJyyuE5iPO+NoVDFbk3Qkkbq0IekWeqrxScY45/3rog9xZMsP+/h+5A734Aop/umxT5Zz/m66zQi5ohoHCetzU5gUtRJOi52kxFYKeTRlc6kBp2Bhl3pX0ub3Q1e+Jw1hYpklAMjFcin6Av+wXR1OG3YheMUtLGWeoQI1YPUO9xG/3XtiNjKr4Q8TBGyLOEc=

env:
  global:
    secure:

before_install:
  - phpenv config-rm xdebug.ini
  - composer self-update
  - composer --version
  - if [ "$GITHUB_COMPOSER_AUTH" ]; then composer config -g github-oauth.github.com $GITHUB_COMPOSER_AUTH; fi

jobs:
  include:
    - &lint
      stage: test
      php: 7.2
      env: PHP Lint
      before_install: skip
      install: skip
      script: find . -name \*.php ! -path "./vendor/*" | parallel --gnu php -d display_errors=stderr -l {} > /dev/null \;
    - <<: *lint
      php: 7.1
    - <<: *lint
      php: 7.0
    - <<: *lint
      php: 5.6

    - &phpunit
      stage: test
      php: 7.2
      env: PHPUnit
      before_script: composer install
      script: vendor/bin/phpunit Tests/Unit/
    - <<: *phpunit
      php: 7.1
    - <<: *phpunit
      php: 7.0
    - <<: *phpunit
      php: 5.6
      before_script: composer update --with-dependencies phpunit/phpunit
    - <<: *phpunit
      php: 7.2
      env: PHPUnit=latest
      before_script:
        - composer install
        - composer update
  allow_failures:
    - php: 7.2
      env: PHPUnit=latest

#after_success:
#  - .travis/push-documentation.sh
