parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$object_or_string of function is_a expects object\\|string, string\\|null given\\.$#"
			count: 1
			path: src/Cli/Symfony/CompilerPasses/CommandsToApplicationCompilerPass.php

		-
			message: "#^Cannot call method getVersion\\(\\) on Symfony\\\\Component\\\\Console\\\\Application\\|null\\.$#"
			count: 1
			path: src/Command/SelfUpdateCommand.php

		-
			message: "#^Method TYPO3\\\\Surf\\\\Domain\\\\Filesystem\\\\Filesystem\\:\\:glob\\(\\) should return array but returns array\\<int, string\\>\\|false\\.$#"
			count: 1
			path: src/Domain/Filesystem/Filesystem.php

		-
			message: "#^Parameter \\#1 \\$length of function random_bytes expects int\\<1, max\\>, int given\\.$#"
			count: 1
			path: src/Domain/Generator/RandomBytesGenerator.php

		-
			message: "#^Method TYPO3\\\\Surf\\\\Domain\\\\Model\\\\Deployment\\:\\:getReleaseIdentifier\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/Domain/Model/Deployment.php

		-
			message: "#^Property TYPO3\\\\Surf\\\\Domain\\\\Model\\\\Deployment\\:\\:\\$deploymentLockIdentifier \\(string\\) does not accept string\\|null\\.$#"
			count: 1
			path: src/Domain/Model/Deployment.php

		-
			message: "#^Property TYPO3\\\\Surf\\\\Domain\\\\Model\\\\Deployment\\:\\:\\$workflow \\(TYPO3\\\\Surf\\\\Domain\\\\Model\\\\Workflow\\) does not accept object\\|null\\.$#"
			count: 1
			path: src/Domain/Model/Deployment.php

		-
			message: "#^Cannot call method createTimestampFromFormat\\(\\) on TYPO3\\\\Surf\\\\Domain\\\\Clock\\\\ClockInterface\\|null\\.$#"
			count: 1
			path: src/Task/CleanupReleasesTask.php

		-
			message: "#^Cannot call method currentTime\\(\\) on TYPO3\\\\Surf\\\\Domain\\\\Clock\\\\ClockInterface\\|null\\.$#"
			count: 1
			path: src/Task/CleanupReleasesTask.php

		-
			message: "#^Cannot call method stringToTime\\(\\) on TYPO3\\\\Surf\\\\Domain\\\\Clock\\\\ClockInterface\\|null\\.$#"
			count: 1
			path: src/Task/CleanupReleasesTask.php

		-
			message: "#^Parameter \\#1 \\$input of function array_filter expects array, array\\<array\\|string\\>\\|false given\\.$#"
			count: 1
			path: src/Task/CleanupReleasesTask.php

		-
			message: "#^Parameter \\#1 \\$input of function array_filter expects array, array\\<array\\|string\\>\\|false given\\.$#"
			count: 1
			path: src/Task/Generic/RollbackTask.php

		-
			message: "#^Parameter \\#2 \\$node of method TYPO3\\\\Surf\\\\Task\\\\Git\\\\AbstractCheckoutTask\\:\\:executeOrSimulateGitCloneOrUpdate\\(\\) expects TYPO3\\\\Surf\\\\Domain\\\\Model\\\\Node, TYPO3\\\\Surf\\\\Domain\\\\Model\\\\Node\\|null given\\.$#"
			count: 1
			path: src/Task/Package/GitTask.php

		-
			message: "#^Parameter \\#3 \\$node of method TYPO3\\\\Surf\\\\Task\\\\Git\\\\AbstractCheckoutTask\\:\\:executeOrSimulatePostGitCheckoutCommands\\(\\) expects TYPO3\\\\Surf\\\\Domain\\\\Model\\\\Node, TYPO3\\\\Surf\\\\Domain\\\\Model\\\\Node\\|null given\\.$#"
			count: 1
			path: src/Task/Package/GitTask.php

		-
			message: "#^Parameter \\#1 \\$arg of function escapeshellarg expects string, string\\|null given\\.$#"
			count: 1
			path: src/Task/TYPO3/CMS/AbstractCliTask.php

		-
			message: "#^Parameter \\#2 \\$node of method TYPO3\\\\Surf\\\\Domain\\\\Service\\\\ShellCommandService\\:\\:executeOrSimulate\\(\\) expects TYPO3\\\\Surf\\\\Domain\\\\Model\\\\Node, TYPO3\\\\Surf\\\\Domain\\\\Model\\\\Node\\|null given\\.$#"
			count: 2
			path: src/Task/TYPO3/CMS/AbstractCliTask.php

		-
			message: "#^Offset mixed on array\\{\\} in isset\\(\\) does not exist\\.$#"
			count: 3
			path: tests/Unit/Task/BaseTaskTest.php

