includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/jangregor/phpstan-prophecy/src/extension.neon

parameters:
  level: 2
  paths:
    - "src/"
    - "tests/"

  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false

  ignoreErrors:
