parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$node of method TYPO3\\\\Surf\\\\Domain\\\\Service\\\\ShellCommandService\\:\\:executeOrSimulate\\(\\) expects TYPO3\\\\Surf\\\\Domain\\\\Model\\\\Node, TYPO3\\\\Surf\\\\Domain\\\\Model\\\\Node\\|null given\\.$#"
			count: 1
			path: src/Task/TYPO3/CMS/AbstractCliTask.php

		-
			message: "#^Offset mixed on array\\{\\} in isset\\(\\) does not exist\\.$#"
			count: 3
			path: tests/Unit/Task/BaseTaskTest.php

		-
			message: "#^Parameter \\#2 \\$headers of class GuzzleHttp\\\\Psr7\\\\Response constructor expects array\\<string, array\\<string\\>\\|string\\>, array\\<int, string\\> given\\.$#"
			count: 1
			path: tests/Unit/Task/Test/HttpTestTaskTest.php

