parameters:
  level: 3
  paths:
    - "src/"
    - "tests/"

  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false

  ignoreErrors:
