parameters:
    name: 'TYPO3 Surf'
    version: '3.0.1'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true
        bind:
            $name: '%name%'
            $version: '%version%'
    GuzzleHttp\Client: ~
    GuzzleHttp\ClientInterface: '@GuzzleHttp\Client'
    Psr\Log\LoggerInterface:
        factory: ['@TYPO3\Surf\Cli\Symfony\Logger\LoggerFactory', 'createLogger']
    Symfony\Component\Console\Application: ~
    Symfony\Component\Console\Output\OutputInterface:
        factory: ['@TYPO3\Surf\Cli\Symfony\ConsoleOutputFactory', 'createOutput']
    TYPO3\Surf\:
        resource: '../src/*'
        exclude: '../src/{Cli,Application,Exception,Domain/Model,Domain/Enum,DeprecationMessageFactory.php,Exception.php,functions.php}'
    TYPO3\Surf\Cli\Symfony\ConsoleApplication: ~
    TYPO3\Surf\Cli\Symfony\ConsoleOutputFactory: ~
    TYPO3\Surf\Cli\Symfony\Logger\ConsoleHandler: ~
    TYPO3\Surf\Cli\Symfony\Logger\LoggerFactory: ~
    TYPO3\Surf\Domain\Model\RollbackWorkflow:
        shared: false
    TYPO3\Surf\Domain\Model\SimpleWorkflow:
        shared: false
    TYPO3\Surf\Integration\Factory:
        arguments: ['@TYPO3\Surf\Domain\Filesystem\FilesystemInterface', '@Psr\Log\LoggerInterface']
    TYPO3\Surf\Integration\FactoryInterface: '@TYPO3\Surf\Integration\Factory'
