name: Tests

on: [push, pull_request]

jobs:
  lint:
    name: Lint PHP
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.0.0
    - name: Install overtrue/phplint
      run: composer global require "overtrue/phplint:^2.0" --no-ansi --no-interaction --no-progress --classmap-authoritative
    - name: Run overtrue/phplint
      run: phplint ./

  unittests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.2', '7.3', '7.4']
    name: PHP ${{ matrix.php }} unittests
    steps:
    - uses: actions/checkout@v2.0.0
    - id: composer-cache
      run: echo "::set-output name=dir::$(composer config cache-files-dir)"
    - uses: actions/cache@v1
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-composer-
    - uses: shivammathur/setup-php@v1
      with:
        php-version: ${{ matrix.php }}
        coverage: none # disable xdebug, pcov
    - run: composer install --no-suggest --no-progress
    - run: vendor/bin/phpunit
