name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint PHP
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          coverage: none

      - name: Install overtrue/phplint
        run: composer global require "overtrue/phplint:^2.0" --no-ansi --no-interaction --no-progress --classmap-authoritative

      - name: Run overtrue/phplint
        run: phplint ./

  unittests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.4', '8.0', '8.1', '8.2', '8.3', '8.4']

    name: PHP ${{ matrix.php }} unittests
    steps:
      - uses: actions/checkout@v3

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none # disable xdebug, pcov

      - uses: ramsey/composer-install@v2
        with:
          composer-options: "--no-interaction --no-suggest"

      - run: vendor/bin/phpunit

  canBeExecuted:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.4', '8.0', '8.1', '8.2', '8.3', '8.4']

    name: Can be executed with PHP ${{ matrix.php }}
    steps:
      - uses: actions/checkout@v3

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none # disable xdebug, pcov

      - uses: ramsey/composer-install@v2
        with:
          composer-options: "--no-interaction --no-suggest"

      - run: bin/surf
