name: Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    name: Lint PHP
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          coverage: none
      - name: Install overtrue/phplint
        run: composer global require "overtrue/phplint:^2.0" --no-ansi --no-interaction --no-progress --classmap-authoritative
      - name: Run overtrue/phplint
        run: phplint ./

  unittests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.4', '8.0', '8.1']
        dependencies: ['locked', 'latest']

    name: PHP ${{ matrix.php }} unittests with ${{ matrix.dependencies }} deps
    steps:
      - uses: actions/checkout@v3

      - id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none # disable xdebug, pcov

      - run: composer install --no-interaction --no-suggest --no-progress

      - run: composer update --no-interaction --no-suggest --no-progress
        if: matrix.dependencies == 'latest'

      - run: vendor/bin/phpunit
